Repository XGovFormBuilder/digital-form-builder, pull requests merged in 2020-10, with the labels that each got.

#135 feature/stp-680-section-dropdown
  .yarn/build-state.yml
  designer/client/component-type-edit.js
  designer/client/context.js
  designer/client/flyout.js
  designer/client/i18n/translations/en.translation.json
  designer/client/index.js
  designer/client/menu.js
  designer/client/name.js
  designer/client/page-create.js
  designer/client/page-edit.js
  designer/client/section-edit.js
  designer/client/section/section-edit.js
  designer/client/section/sections-edit.js
  designer/client/sections-edit.js
  designer/package.json
  designer/server/lib/persistence/blobPersistenceService.js
  designer/test/component-render-in-portal.test.js
  designer/test/component-type-edit.cases.js
  designer/test/component-type-edit.test.js
  designer/test/component-values.test.js
  designer/test/define-component-value.test.js
  designer/test/flyout.test.js
  designer/test/form-details.test.js
  designer/test/name.test.js
  designer/test/page-create.test.js
  designer/test/page-edit.test.js
Labels: Designer, enhancement, good acceptance criteria

#142 Feature/139 govuk react jsx components
  designer/client/component-type-edit.js
  designer/client/components/component-values.js
  designer/client/components/define-component-value.js
  designer/client/conditions/select-conditions.js
  designer/client/form-details.js
  designer/client/govuk-react-components/helpers.js
  designer/client/govuk-react-components/radio.js
  designer/client/govuk-react-components/select.js
  designer/client/govuk-react-components/text.js
  designer/client/load-form-configurations.js
  designer/client/page-edit.js
  designer/package.json
  designer/test/.transform.js
  designer/test/component-type-edit.cases.js
  designer/test/component-type-edit.test.js
  designer/test/component-values.test.js
  designer/test/condition-edit.test.js
  designer/test/define-child-component.test.js
  designer/test/define-component-value.test.js
  designer/test/form-details.test.js
  designer/test/helpers/element-assertions.js
  designer/test/inline-conditions-absolute-dates.test.js
  designer/test/inline-conditions-definition-values.test.js
  designer/test/inline-conditions-definition.test.js
  designer/test/inline-conditions-edit.test.js
  designer/test/inline-conditions-relative-dates.test.js
  designer/test/link-create.test.js
  designer/test/link-edit.test.js
  designer/test/name.test.js
  designer/test/page-create.test.js
  designer/test/page-edit.test.js
  designer/test/section-create.test.js
  designer/test/select-conditions.test.js
  engine/package.json
  model/package.json
  package.json
  runner/package.json
  yarn.lock
Labels: Designer, enhancement

#154 Feature/exemplar smoke test
  .circleci/config.yml
  package.json
  test/features/pageobjects/add-component.page.js
  test/features/pageobjects/config.page.js
  test/features/pageobjects/edit-page.section.js
  test/features/pageobjects/form-designer.page.js
  test/features/pageobjects/menu.section.js
  test/features/pageobjects/page.js
  test/features/smoke-tests.feature
  test/features/step-definitions/steps.js
  test/package.json
  wdio.conf.js
  yarn.lock
Labels: automation tests

#159 Feature/stp 675 link pages
  designer/client/component.js
  designer/client/components/page-linkage.js
  designer/client/index.scss
  designer/client/link-create.js
  designer/client/page.js
  designer/client/visualisation.js
  designer/package.json
  designer/test/page-linkage.test.js
Labels: Designer, enhancement, good acceptance criteria

#164 Feature/designer smoke tests
  .circleci/config.yml
  .gitignore
  package.json
  smoke-tests/data/componentFieldData.js
  smoke-tests/features/pageobjects/add-component.page.js
  smoke-tests/features/pageobjects/config.page.js
  smoke-tests/features/pageobjects/form-designer.page.js
  smoke-tests/features/pageobjects/page.js
  smoke-tests/features/pageobjects/sections/add-link.section.js
  smoke-tests/features/pageobjects/sections/edit-lists.section.js
  smoke-tests/features/pageobjects/sections/edit-page.section.js
  smoke-tests/features/pageobjects/sections/edit-section.section.js
  smoke-tests/features/pageobjects/sections/menu.section.js
  smoke-tests/features/pageobjects/sections/section.js
  smoke-tests/features/smoke-tests.feature
  smoke-tests/features/step-definitions/steps.js
  smoke-tests/package.json
  smoke-tests/support/testHelpers.js
  smoke-tests/wdio.conf.js
  test/features/pageobjects/edit-page.section.js
  test/features/smoke-tests.feature
  test/features/step-definitions/steps.js
  test/package.json
  yarn.lock
Labels: automation tests

#178 fix/empty-summary-page-with-new-forms
  designer/new-form.json
Labels: Designer, Runner, bug

#177 feature/stp-723-prettier-and-lint-hook
  .eslintrc.json
  designer/package.json
  engine/package.json
  model/package.json
  package.json
  runner/package.json
  yarn.lock
Labels: enhancement

#171 Feature/106 unify engine runner - part 1
  engine/src/address-service.js
  engine/src/index.ts
  engine/src/model.js
  engine/src/nunjucksConfig.js
  engine/src/util.js
  engine/tsconfig.json
  runner/bin/build-css
  runner/public/static/ukaddressfield.js
  runner/src/client/README.md
  runner/src/client/sass/_hmpo.scss
  runner/src/client/sass/_upload-dialog.scss
  runner/src/client/sass/application.scss
  runner/src/client/sass/modal-dialog.scss
  runner/src/server/components/govsite.components.json
  runner/src/server/forms/README.md
  runner/src/server/index.js
  runner/src/server/model.js
  runner/src/server/plugins/builder/index.js
  runner/src/server/plugins/builder/pages/dob.js
  runner/src/server/plugins/builder/pages/home.js
  runner/src/server/plugins/builder/pages/index.js
  runner/src/server/plugins/builder/pages/page-base.js
  runner/src/server/plugins/builder/pages/page.js
  runner/src/server/plugins/builder/pages/start-date.js
  runner/src/server/plugins/builder/pages/start.js
  runner/src/server/plugins/builder/pages/summary.js
  runner/src/server/routes/public.js
  runner/src/server/schemas/formSchema.js
  runner/src/server/services/cacheService.js
  runner/src/server/services/emailService.js
  runner/src/server/services/index.js
  runner/src/server/services/notifyService.ts
  runner/src/server/services/payService.js
  runner/src/server/services/sheetsService.js
  runner/src/server/services/uploadService.js
  runner/src/server/services/webhookService.js
  runner/test/cases/dynamic.test.js
  runner/test/cases/upload.test.js
Labels: Engine, Runner, enhancement
