Repository XGovFormBuilder/digital-form-builder, pull requests merged in 2021-01, with the labels that each got.

#247 Feature/test readme
  smoke-tests/README.md
  smoke-tests/designer/features/linkingPages.feature
  smoke-tests/designer/package.json
  smoke-tests/designer/wdio.headless.conf.js
Labels: documentation

#255 Stp 1020 fix accessibility review
  designer/client/component.js
  designer/client/components/Flyout/Flyout.scss
  designer/client/components/Flyout/Flyout.tsx
  designer/client/components/Flyout/__tests__/Flyout.test.tsx
  designer/client/components/Flyout/index.ts
  designer/client/components/Visualisation/Lines.tsx
  designer/client/conditions-edit.js
  designer/client/conditions/select-conditions.tsx
  designer/client/flyout.js
  designer/client/list/lists-edit.tsx
  designer/client/menu.js
  designer/client/page-create.js
  designer/client/page-edit.js
  designer/client/page.js
  designer/client/section/sections-edit.js
  designer/client/styles/index.scss
  designer/package.json
  designer/test/menu.test.tsx
  designer/test/page.test.tsx
  designer/webpack.config.js
  smoke-tests/designer/features/pageobjects/pages/addComponent.page.js
  smoke-tests/designer/features/pageobjects/sections/addLink.section.js
  smoke-tests/designer/features/pageobjects/sections/addPage.section.js
  smoke-tests/designer/features/pageobjects/sections/editPage.section.js
  smoke-tests/designer/features/pageobjects/sections/section.js
  yarn.lock
Labels: Designer

#245 Fix/matomo hard-coded url and csp
  runner/src/server/config.js
  runner/src/server/config.ts
  runner/src/server/plugins/blankie.ts
  runner/src/server/utils/url.ts
  runner/src/server/views/layout.html
  runner/test/cases/server/config.test.js
  runner/test/cases/server/plugins/blankie.test.ts
  runner/test/cases/server/rate-limit.test.js
  runner/tsconfig.json
Labels: Runner

#250 Feature/back to create component list
  smoke-tests/designer/features/pageComponents.feature
  smoke-tests/designer/features/pageobjects/pages/addComponent.page.js
  smoke-tests/designer/features/steps/steps.js
  smoke-tests/designer/package.json
  smoke-tests/designer/support/hooks.js
  smoke-tests/designer/wdio.conf.js
  smoke-tests/designer/wdio.headless.conf.js
Labels: automation tests

#258 Stp 948 form phase banner - Implement `phaseBanner` in data-model
  model/jest.config.js
  model/package.json
  model/src/component-types.ts
  model/src/conditional-component-types.ts
  model/src/conditions/__tests__/inline-condition-model.test.ts
  model/src/conditions/__tests__/inline-condition-values.test.ts
  model/src/conditions/inline-condition-model.ts
  model/src/data-model-interface.ts
  model/src/data-model.ts
  model/src/data-model/__tests__/data-model.test.ts
  model/src/data-model/data-model.ts
  model/src/data-model/types.ts
  model/src/form-configuration.ts
  model/src/form/__tests__/form-configuration.test.ts
  model/src/helpers.ts
  model/src/index.ts
  model/src/logger.ts
  model/src/migration/__tests__/list-item-references-to-value-objects.test.ts
  model/src/migration/__tests__/schema-migrations.test.ts
  model/src/schema.ts
  model/src/schema/schema.ts
  model/src/utils/__tests__/logger.test.ts
  model/test/.transform.js
  model/test/form-configuration.test.ts
  model/test/inline-condition-values.test.ts
  model/test/values/helpers.test.ts
  model/test/values/list-ref-values.test.ts
  model/test/values/static-values.test.ts
  model/test/values/yes-no-values.test.ts
  model/tsconfig.json
  yarn.lock
Labels: Model

#275 Stp 1082 Configure designer footer text via environment variable
  designer/README.md
  designer/jest.config.js
  designer/package.json
  designer/server/__tests__/config.jest.ts
  designer/server/__tests__/footer.jest.ts
  designer/server/__tests__/view.jest.ts
  designer/server/config.ts
  designer/server/plugins/designer.ts
  designer/server/views/includes/home-office-footer.html
  yarn.lock
Labels: Designer

#282 Feature/re implement smoke tests
  smoke-tests/designer/features/actions/actions.js
  smoke-tests/designer/features/listComponents.feature
  smoke-tests/designer/features/pageComponents.feature
  smoke-tests/designer/features/pageobjects/pages/basePage.js
  smoke-tests/designer/features/pageobjects/pages/config.page.js
  smoke-tests/designer/features/pageobjects/sections/editSection.section.js
  smoke-tests/designer/features/steps/editingLists.steps.js
  smoke-tests/designer/features/steps/steps.js
  smoke-tests/designer/support/hooks.js
  smoke-tests/designer/wdio.conf.js
Labels: automation tests

#289 Feature/preview components tests
  smoke-tests/designer/features/listComponents.feature
  smoke-tests/designer/features/pageComponents.feature
  smoke-tests/designer/features/pageobjects/pages/addComponent.page.js
  smoke-tests/designer/features/pageobjects/pages/basePage.js
  smoke-tests/designer/features/pageobjects/pages/formDesigner.page.js
  smoke-tests/designer/features/pageobjects/pages/preview.page.js
  smoke-tests/designer/features/steps/editingLists.steps.js
  smoke-tests/designer/features/steps/linkingPages.steps.js
  smoke-tests/designer/features/steps/steps.js
  smoke-tests/designer/wdio.conf.js
  smoke-tests/designer/wdio.debug.conf.js
  smoke-tests/designer/wdio.headless.conf.js
Labels: automation tests
